/* header {background-color: bisque;} */
main {background-color: rgb(240, 228, 223);}
footer { color: rgb(148, 100, 56);
	background-color: rgb(238,218,211)	;}
/* Меню */
.wraper{
	max-width: 1024px;
	margin: 0 auto;

}
.header_wraper 
{
	display: flex;
	flex-wrap:wrap;
	align-items: flex-end; /*перпендик ось */
	justify-content: space-between; /* одинак расст между боками */
	background-color: rgb(238,218,211);	
	color: rgb(148, 100, 56);
	}
.header_logo
{
	
	flex-basis: 30%;
	margin-left: 50px;
}

.header_menu
{
	display:flex;
	flex-wrap: wrap;	
	
	
}
.header_ul{
	display: flex;
	flex-basis: 14%;
	margin: 10px;
	padding: 10px;	
	}

.header_item
{
	margin-right: 50px;
	border-left : 2px solid rgb(148, 100, 56);
    padding: 5px;	
	
}
.header_item:last-child{
	margin-right: 0;
	}
	/* Шапка с картинкой */
.header
	{
		text-align: right;
		background-image: url(../IMG/header.jpg);
				background-repeat: no-repeat; /* одно фоновое изображение в элементе без его повторени */
		background-position:top; /* начальное положение фонового изображения (верх) */
			background-attachment: fixed;/* Делает фоновое изображение элемента неподвижным. */
		background-size: cover;
		padding-left: center;/* поля */
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.header-title{
		font-size: 30px;
		color: rgb(148, 100, 56);
		margin-right: 150px;
		}
	 


/* .html_cards
{
display: grid;
grid-template-columns: repeat(auto-fill, 20%);
}
.card
{
grid-column: span 1;
margin-bottom: 10px;
} */
.footer_wraper
{
	display: flex;
	flex-wrap:wrap;
	align-items: flex-end;
	justify-content: space-between;
	border: 2px solid rgb(148, 100, 56);
}
.item{
	margin-right: 5px;
	height: 30px;
	width: 30;
}
.footer_item
{
	margin-right: 100px;
	
}
.footer_menu
{
	display:flex;
	flex-wrap: wrap;
	margin-right: 20px;
}
.footer_menu:first-child{
	margin-left: 50px;
}
.table {
	width: 70%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid rgb(148, 100, 56);
	font-size: 15px;
	background: #fff!important;
	
}
.table th {
	font-weight: bold;
	padding: 7px;
	background: rgb(238,218,211);
	border: none;
	text-align: center;
	font-size: 28px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid rgb(148, 100, 56);
}
.table td {
	padding: 35px;
    border: none;
    text-align: center;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #fff!important;
}
/* .grid-container
{
	display: grid; все эл-ты =грид
	justify-content: center; по центру
	grid-template-columns: 1fr; сколько столбцов (равных)
	grid-template-rows: 1fr 1fr 1fr; сколько строк (равных)
	grid-gap: 2vw; 
	justify-items:center;
	margin-top: 20px; отступ сверху
	padding-top: 200 px; отступ сверху
} */

.main-form{
	
	padding: 40px; /* отступы */
	text-align: center;
	border-bottom: 2px solid #b19f64 ;
}
.main-form :last-child{
	border: none;
}

.img{
	width: 20%;
	height: 20%;

}

	/* текст не копируется */
	.noselect{
		-moz-user-select: none; /* для  браузера мазила */
		-webkit-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none; /* большенство брауз */
	}
	/* галерея */
	.smallp{
		margin-top: 5%;
		height: 150px;
		width: 30%;
		
	}
	.bigp{
		height: 50%;
		width: 70%;
		align-items: center;
	}
	
	.main_wraper
	{
		display: flex;
		flex-wrap:wrap;
		align-items: flex-end; /*перпендик ось */
		justify-content: space-between; /* одинак расст между боками */
	
	}
	.Centr{
		display: flex; 
		justify-content:center;
	}
	.Portf_wraper{
		display: flex;
		flex-wrap:wrap;
		align-items: flex-end; /*перпендик ось */
		justify-content: space-between; /* одинак расст между боками */
	}
		
		.Kontakt{
		margin-top: 50px;
		margin-bottom: 150px;
			width: 20%;
			height: 170px;
			border: 3px solid #706233 ;
			text-align: center;
		}

		/* Выбор темы */


		body {
			--background-color: rgb(241, 230, 226);
			--text-color: #000000;
		}
		.main {
			background: var(--background-color);
			color: var(--text-color);
		}
		
		/* button {
			color: var(--text-color);
		} */
		
		:root {
			--dark-background-color: #2e2a1d;
			--dark-text-color: hsl(0, 50%, 94%);
		}
		
		body.theme-dark {
			--background-color: var(--dark-background-color);
			--text-color: var(--dark-text-color);
		}
		@media (prefers-color-scheme: dark) {/*  Исп ли опер сист темную тему? Да-и мы исп */
			body.theme-auto {
				--background-color: var(--dark-background-color);
				--text-color: var(--dark-text-color);
			}
		}
		.Centr_knop{
			display: flex; 
			justify-content:center;
			border-bottom: 2px solid #706233 ;
		}

		.chart {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 800px;
			margin: 0 auto;
			padding: 20px;
		  }
		  
		  .chart__title {
			width: 100%;
			margin-bottom: 70px;
		  
			font-size: 21px;
			font-weight: 500;
			text-transform: uppercase;
			text-align: center;
		  }
		  
		  .chart__data {
			width: 250px;
		  }
		  
		  .chart__input-group {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		  }
		  
		  .chart__input-group:last-of-type {
			margin-bottom: 95px;
		  }
		  .chart__label {
			max-width: 140px;
			margin-right: auto;
		  }
		  
		  .input-field {
			font-size: inherit;
			color: inherit;
			text-transform: uppercase;
			text-align: center;
		  
			white-space: normal;
			border: 1px solid #b3d5fc;
			border-radius: 5px;
			background-color: transparent;
		  }
		  
		  .chart__input {
			width: 60px;
			margin-right: 5px;
		  }
		  
		  .chart__submit-button {
			width: 100%;
			padding: 10px;
		  
			cursor: pointer;
		  }
		  
		  .chart__submit-button:hover {
			color: #1f2021;
		  
			background-color: #b3d5fc;
		  }
		  .chart__canvas-wrapper {
			height: 250px;
			border: 1px solid #b3d5fc;
			border-radius: 5px;
		  }
		  
		  
		
		
			
	
	
	

