header {background-color: bisque;}
main {background-color: aquamarine;}
footer {background-color: darkkhaki;}
.header_wraper
{
	display: flex;
	flex-wrap:wrap;
	align-items: flex-end;
	justify-content: space-between;
}
.header_logo
{
	flex-basis: 20%;
}
.header_menu
{
	display:flex;
	flex-wrap: wrap;
}
.header_item
{
	margin-right: 30px;
}
.html_cards
{
display: grid;
grid-template-columns: repeat(auto-fill, 20%);
}
.card
{
grid-column: span 1;
margin-bottom: 10px;
}
.footer_wraper
{
	display: flex;
	flex-wrap:wrap;
	align-items: flex-end;
	justify-content: space-between;
}
.footer_item
{
	margin-right: 100px;
}
.footer_menu
{
	display:flex;
	flex-wrap: wrap;
}
.table {
	width: 70%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #fff!important;
}
.table th {
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: center;
	font-size: 28px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
.table td {
	padding: 35px;
    border: none;
    text-align: center;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
